NODE_ENV=development
PORT=3000
DATABASE_URL=mongodb+srv://ndkhoi192:vCkIwVTAvpCmhs3C@cluster0.ddjbpmi.mongodb.net/wdp301
JWT_SECRET=change-me-in-local-dev

CLOUDINARY_CLOUD_NAME="dh2omzjha"
CLOUDINARY_API_KEY="142496187946384"
CLOUDINARY_API_SECRET="me54_EvD-91EdCPb1fraR9xCYio"